services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - app-network

  uptime-kuma:
    build: .
    container_name: uptime_kuma_app
    ports:
      - "${UPTIME_KUMA_PORT}:3001"
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_started
    volumes:
      - uptime-kuma-data:/app/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mariadb-data:
  uptime-kuma-data: