name: Terraform Destroy

on: 
  workflow_dispatch: 
    inputs: 
      confirmation:
        description: 'Type "yes" to confirm deletion of infrastructure'
        required: true
        default: "no"
   
permissions: 
  id-token: write
  contents: read 

env:
  AWS_REGION: us-east-1 

jobs:   
  destroy:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4    

    - name: Configure AWS credentials w/ OIDC
      uses: aws-actions/configure-aws-credentials@v4 
      with:
          role-to-assume: ${{ secrets.ADMIN_ARN }}
          aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run:  terraform init 
    
    - name: terraform destroy
      working-directory: terraform
      run: terraform destroy -auto-approve

     