name: Build image and push to AWS ECR

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "app/src/**"
      - "app/package.json"
      - "app/package-lock.json"
      - "app/Dockerfile"

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: rb-monitoring
  ECR_REGISTRY: 118557105595.dkr.ecr.us-east-1.amazonaws.com
  IMAGE_TAG: ${{ github.sha }}

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials w/ OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ADMIN_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and tag image
        id: build-image
        run: |
          docker build -t ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }} ./app

      # - name: Run Trivy scan
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     image-ref: '${{ steps.login-ecr.outputs.registry }}/uptime-kuma:${{ github.sha }}'
      #     format: 'sarif'
      #     output: 'trivy-results.sarif'
      #     severity: 'CRITICAL,HIGH'
      #     exit-code: '1'

      - name: Push image to Amazon ECR
        run: |
          docker push ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
