name: Terraform Plan

on:
  pull_request:
    branches: [main]
    paths:
     - "terraform/**"

permissions:
  id-token: write
  contents: read

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    
    env:
      TF_VERSION: '1.6.0'
      AWS_REGION: 'us-east-1'
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Configure AWS credentials w/ OIDC
        uses: aws-actions/configure-aws-credentials@v4 
        with:
          role-to-assume: ${{ secrets.ADMIN_ARN }}
          aws-region: ${{ env.AWS_REGION }}
    
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}
      
      - name: Terraform Init
        run: terraform init
  
      - name: Terraform Format Check
        id: fmt
        run: terraform fmt -check -recursive
    
      - name: Terraform Validate
        run: terraform validate
      
      - name: Terraform Plan
        run: terraform plan 
            
